<launch>
  <arg name="data_file" default="$(find rct_examples)/config/railcal.yaml"/>

  <node pkg="rct_examples" type="rail_intrinsic_ex" name="rail_intrinsic_ex" output="screen">
    <rosparam>
      target:
        rows: 20
        cols: 30
        spacing: 0.0146 # (meters between dot centers)
      intrinsics:
        fx: 2000.0 # pixels
        fy: 2000.0 # pixels
        cx: 960.0
        cy: 540.0
    </rosparam>

    <rosparam command="load" file="$(arg data_file)"/>
  </node>
</launch>
