<?xml version="1.0"?>
<launch>
  <arg name="camera_file" default="$(find rct_examples)/config/avt_gige_camera_intr_nominal.yaml"/>
  <arg name="target_file" default="$(find rct_examples)/config/target_10x10.yaml"/>
  <arg name="guess_file" default="$(find rct_examples)/config/static_camera_guesses.yaml"/>
  <arg name="data_path"/>
  <arg name="homography_threshold" default="1.0" doc="Threshold for average reprojection error for an obseravation (in pixels), above which an observation will be excluded from the calibration"/>

  <node pkg="rct_examples" type="static_cam_extr_cal_ex" name="static_camera_cal" output="screen">
    <rosparam command="load" file="$(arg camera_file)"/>
    <rosparam command="load" file="$(arg target_file)"/>
    <rosparam command="load" file="$(arg guess_file)"/>
    <param name="data_path" value="$(arg data_path)"/>
    <param name="homography_threshold" value="$(arg homography_threshold)"/>
  </node>
</launch>
